* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spirax", sans-serif;
  color: white;
  text-decoration-line: none;
}

.header {
  position: fixed;
  width: 100vw;
}

.navigation {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  background-color: rgba(20, 0, 20, 0.75);
  padding: 1rem;
}

.section {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section > h1 {
  color: darkred;
  font-size: 10rem;
}

.section p {
  font-size: 2rem;
  font-family: "Poiret One", sans-serif;
}

.section > p {
  background-color: rgba(139, 0, 0, 0.75);
  width: 55rem;
  text-align: center;
  padding: 1.5rem 0;
}

.section > p:first-of-type {
  margin-right: 25rem;
}

.section > p:last-of-type {
  margin-left: 25rem;
}

.table {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  width: 60rem;
  padding: 1rem 5rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.section-divider {
  background-color: darkred;
  height: 1rem;
  border: none;
}

.hot-container {
  background-image: url("./assets/hot.jpg");
}

.juicy-container {
  background-image: url("./assets/juicy.jpg");
}

.cosy-container {
  background-image: url("./assets/cosy.jpg");
}

@media only screen and (max-width: 1400px) and (max-height: 900px) {
  .hide-on-small-viewarea {
    display: none;
  }

  .section > h1 {
    font-size: 5rem;
  }

  .section > p:first-of-type {
    margin-right: 0;
  }

  .table {
    width: 30rem;
    padding: 0.5rem 2.5rem;
  }

  .section > p {
    width: 30rem;
    padding: 0.75rem 0;
  }

  .row > p,
  .section > p:first-of-type {
    font-size: 1.75rem;
  }
}
